
<div class="hero hero-slider">
    <ul class="slides">
        <li data-bg-image="/Content/customer/dummy/RS880601_GettyImages-537520718.jpg">
            <div class="container">
                <h3 class="slider-subtitle">Cariad Professional</h3>
                <h2 class="slider-title">Hair</h2>
                <p style="width: 490px;">
                    At Cariad, we are passionate about hair, our fully qualified staff are always seeking out the latest products...
                </p>
                <a href="/Home/About/" class="button large">Read more</a>
            </div>
        </li>
        <li data-bg-image="/Content/customer/dummy/eb4fa47b1b078bfa6889100c15a5feee.jpg">
        
            <div class="container">
                <h3 class="slider-subtitle">Cariad Professional</h3>
                <h2 class="slider-title">Eyes</h2>
                <p style="width: 470px;">Here at Cariad we offer a full range of eyebrow and lashes services from eyebrow tints to semi-permanent lashes...</p>
                <a href="/Home/About/" class="button large">Read more</a>
            </div>
        </li>
        <li data-bg-image="/Content/customer/dummy/Acrylic-Nails-cropaw.jpg">
            <div class="container">
                <h3 class="slider-subtitle">Cariad Professional</h3>
                <h2 class="slider-title">Nails</h2>
                <p style="color:black; width: 490px;">
                    Our Nail technician, Louise, here at Cariad has won many awards in her field...
                </p>
                <a href="/Home/About/" class="button large">Read more</a>
            </div>
        </li>
    </ul>
</div>