
@{
    ViewBag.Title = "Galaryview";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script>

    $(document).ready(function () {




    });



</script>





<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Image Galary</li>
    </ol>
    <!-- Example DataTables Card-->



</div>


