
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>

    
    <!-- Page level plugin CSS-->
    <link href="~/Content/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
 



</head>
<style type="text/css">

    

    table.hovertable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.hovertable th {
            background-color: #c3dde0;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

        table.hovertable tr {
            background-color: #d4e3e5;
        }

        table.hovertable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
}
          
        
        
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {               
        var sid=1;
        $.ajax({
            type: "get",
            url: "/CustomerService/getCustomerSubService",
            data:{ id : sid},
            success: function (data) {
                $("table").html(data);
            }
        });
    });

    function getsubservice(sid)
    {       
        if (sid==1)
        {
            $.ajax({
                type: "get",
                url: "/CustomerService/getCustomerSubService",
                data: { id: sid },
                success: function (data) {
                    $("table").html(data);
                }
            });
        }
        else if(sid==2)
        {
            $.ajax({
                type: "get",
                url: "/CustomerService/getCustomerSubService",
                data: { id: sid },
                success: function (data) {
                    $("table").html(data);
                }
            });
        }
        else if(sid==3)
        {
            $.ajax({
                type: "get",
                url: "/CustomerService/getCustomerSubService",
                data: { id: sid },
                success: function (data) {
                    $("table").html(data);
                }
            });
        }
    }

    function bookAppointment(id)
    {
        window.location.replace("http://localhost:65394/BookAppointment/Index/"+id);
    }

</script>
<main class="main-content">
    <div class="page">
        <div class="container">
           
            <div class="row">

                <div class="col-md-12">

                    <h2>Choose a Service You Require</h2>
                </div>

            </div>

            


            <div class="row">
                <div class="col-md-4">

                    <h2 style="text-align:left"   ><input type="submit" value="Browse all Hair Services" class="button"  onclick="getsubservice(1) "></h2>
                </div>
                

                <div class="col-md-4">

                    <h2 style="text-align:center"><input type="submit" value="Browse all Eyelash Services" class="button" onclick="getsubservice(2)"></h2>
                </div>

                <div class="col-md-4">

                    <h2 style="text-align:right"><input type="submit" value="Browse all Nail Services" class="button" onclick="getsubservice(3)"></h2>
                </div>

            </div>

            @****************************************************************************************************************@
            @*<div class="row">
                <div class="col-md-4">

                    <button onclick="getsubservice(1) ">Browse all Hair Services</button>
                </div>


                <div class="col-md-4">

                    <button onclick="getsubservice(2)">Browse all Eyelash Services</button>
                </div>

                <div class="col-md-4">

                    <button onclick="getsubservice(3)">Browse all Nail Services</button>
                </div>

            </div>*@

            @****************************************************************************************************************************@


            
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <br />
                    <table class="hovertable" style="width:1100px;border:1px solid white;">
                      
                    </table>



                </div>


            </div>

              
            </div>
    </div>
</main>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

