@{
    ViewBag.Title = "About";
}





<main class="main-content">
    <div class="page">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">
                    <h3 class="section-title">About</h3>
                    @*<figure><img src="dummy/figure-1.jpg" alt=""></figure>*@
                    <h4>Your ideal North Wales beauty salon for the ultimate beauty salon experience.</h4>
                    <p style="text-align:justify">We offer a wide range of specialised one-to-one beauty treatments for men and women in our fully equipped, modern studio. We believe in delivering a quality and professional service at affordable prices, without being rushed for time.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="section-title">What We Do</h3>
                    <h4>Hair</h4>
                    <p style="text-align:justify">At Cariad, we are passionate about hair, our fully qualified staff are always seeking out the latest products so we can bring our customers the most up to date service. Our staff attend the most up to date courses in hair styling techniques and their skills are constantly evolving and improving. We only use the most top quality products which are completely animal cruelty free.</p>
                    <h4>Nails</h4>
                    <p style="text-align:justify">When CND (Creative Nail Design) introduced their Shellac gel polish they brought nail industry into the 21 century, and we are constantly bringing fantastic new designs to the table and searching the globe for the latest products so that we can offer our valued customers the most fashionable nails out there today. Cariad are proud to confirm they employ award winning staff including the much coveted CND ‘Nail Artist of the year for a small business 2016’ award.</p>
                    <h4>Make-Up/Eyes</h4>
                    <p style="text-align:justify">Here at Cariad we offer a full range of eyebrow and lashes services from eyebrow tints to semi-permanent lashes, undertaken by our fully qualified and experienced beautician. We utilise the most sought after brand names in the industry including: Benefit Cosmetics, Beverly Hills and Tom Ford. You’ll definitely be feeling fantastic and turning heads once you step out of the salon after a session at Cariad</p>
                </div>
                <div class="col-md-4">
                    <h3 class="section-title">Our Team</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="team small">
                                <figure class="team-image"><img src="~/Content/customer/images/Staff/bailey.jpg"></figure>
                                <h3 class="team-name">Jenny Flintoff</h3>
                                <p style="text-align:justify">Jenny is a fully qualified hairdresser with 2 years experience working under Pieere Philipe in one of paris’ most famous salons: Le franco’s.</p>
                            </div>
                            <br /><br />
                            <div class="team small">
                                <figure class="team-image"><img src="~/Content/customer/images/Staff/Blonde_Woman.jpg"></figure>
                                <h3 class="team-name">Marta Smith</h3>
                                <p style="text-align:justify">Marta has worked for Cariad Beauty since she left school at 16, she started at the bottom and worked her way up to senior hairdresser within 2 short years and is an indispensable member of the team.</p>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="team small">
                                <figure class="team-image"><img src="~/Content/customer/images/Staff/Megan-Magee-actor-headshot.jpg"></figure>
                                <h3 class="team-name">Louise Rolfe</h3>
                                <p style="text-align:justify">Louise studied Hair, Nails and Beauty at Coleg Cambria, Deeside and is qualified to NVQ level two; she has been said to be ‘fanatical’ about nails and has won many awards for her nail art.</pstyle="text-align:justify">
                            </div>
                            <div class="team small">
                                <figure class="team-image"><img src="~/Content/customer/images/jennyPng.png"></figure>
                                <h3 class="team-name">Kerry Brown</h3>
                                <p style="text-align:justify">Kerry studied Beauty at Coleg Cambria and completed her course in 2007; ever since, she has been an extremely valuable member of Cariad’s team and in 2011 won the prestigious ‘Cats Eyes’ award for innovate  eyebrow design; an award coveted by (all) beauticians all over the country.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
