
@{
    ViewBag.Title = "Sent";
}

<style>
    h2 {
        font-size: 1.5em;
        margin: 4.83em 122px;
    }
</style>


<h2>Your Message Submitted Sucessfully , Will get back to  you soon...!!</h2>

